/* font */
body {
    font-family: 'GidoleRegular', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #171616;
    margin: 0;
    padding: 0;
    background-color: #F8F4F4;
 } 

 #page {
    margin: 0 auto;
    position: relative;
}
 /* text */
 h1 {
     font-size: 4em;
 }

 h2 {
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}

h3 {
    margin: 0 0 0.5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #02182f;
}

a:visited {
    color: #022C57;
}

a.btn {
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    color: #F8F4F4;
    border: 2px solid  #F8F4F4;
    border-radius: 0.25em;
    background-color: #2A345B;
    padding: 0.5em 0.5em;
    transition: background-color 0.5s;

}
a.btn:hover {
    background-color: #004A99;
}

/* header */
header {
    height: 360px;
    background: #f7b42c;
    position: relative;
}
@media screen and (max-width: 600px) {
    header {
        height: 260px;
    }
}

header a.logo {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
    background: url(../assets/logo.png) no-repeat;
    background-size: contain;
}

@media screen and (max-width: 600px) {
    header {
        height: 300px;
    }
}

header a.logo span {
    display: none;
}

header div.hero {
    text-align: center;
    position: absolute;
    top: 62%;
    width: 100%;
    color: #F8F4F4;

}

/* all */
section {
    padding: 0 30px;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

/* main */
section.main {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

section.main aside{
    width: 33.3%;
    float: left;
    text-align: center;
}

section.main .content {
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px; 
    padding-top: 85px;
}

section.main aside h3 a {
    color: #171616;
    text-decoration: none;
}

section.main aside h3 a:hover {
    color: #004A99;
}

section.main aside .content.mechanics {
    background-image: url(../assets/mechanics.svg);
}

section.main aside .content.electronics {
    background-image: url(../assets/electronics.svg);
}

section.main aside .content.cscience {
    background-image: url(../assets/cscience.svg);
}

section.atmosphere{
    background-color: #2A345B;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #F8F4F4;
    text-align: center;
}

/* how */
section.how {
    background-color: #F8F4F4;
    position: relative;
    padding-left: 16%;
}

section.how aside {
    width: 30%;
    float: left;
    padding: 0;
}

section.how aside .content {
    padding: 30px 30px 20px 0;
}

section.how aside .content img {
    display: block;
    margin-bottom: 15px;
    width: 80%;
}

section.how aside .content h4 {
    margin-bottom: 0;
}

section.how aside .content p {
    margin-bottom: 0.5em;
}

section.how aside .content a {
    display: inline-block;
    color: #2A345B;
    font-weight: 700;
}

/* nav */
.navbar {
    background-color: #2A345B;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #F8F4F4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #004A99;
}

.navbar .icon {
    display: none;
}

/* media queries for cripple devices */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a:first-child {
        float: left;
    } 
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* footer */
footer{
    font-size: 0.6em;
    margin: 40px;
    text-align: center;
}

footer .content{
    display: inline;
}

footer a {
    margin-left: 10px;
}

footer a:visited {
    color: #02182f;
}

footer a:hover {
    color: #004A99;
}
